Makefile
Makefile.in
.deps
.libs
/aclocal.m4
/autom4te.cache/
/check.pc
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/configure-stamp-pic
/libtool
/src/check.h
stamp-h1
*.o
*.a
*.lo
*.la
*.diff
build-aux/compile
build-aux/depcomp
build-aux/ltmain.sh
build-aux/missing
build-stamp
build-stamp-pic
configure-stamp
debian/*.debhelper.log
debian/*.substvars
debian/check/
debian/files
doc/check.info
doc/stamp-vti
doc/version.texi
tests/check_check
tests/check_stress
tests/ex_log_output
tests/ex_output
tests/ex_xml_output
